body {
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebe7e5
}

nav {
    background: #ffffff;
    position: fixed;                                  
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(146, 161, 176, 0.3);  
}

.navbar .logo{
  float: left;
  font-family: 'Trebuchet MS';
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin: 6px 50px;
  padding: 10px 10px;
}

.navbar .logo:hover{
  border: 3px dashed #000000;            
  padding: 7px 8px;
  transition: 1s; 
}

nav ul {
  list-style: none;
  text-align: right;
  margin: 12px 30px;
  padding: 10px 30px;
}

nav ul li {
  display: inline;
}

nav ul li a{
  text-decoration: none;
  padding: 0px 10px;
  margin: 0px 10px;
  font-size: 18px;
  color: #0e2431;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.2s;
}

nav ul li a:hover{
  color: #475857;
  border-bottom: 2.5px solid #475857;
}

.home {
  margin-top: 65px;
}

.home-column {
  float: left;
  width: 46%;
  margin: 0px 1%;
  padding: 0px 1%;
  margin-top: 250px;
}

.home-column h1 span{
  font-family: 'Roboto', monospace;
  color: #363a3d;
  font-weight: lighter;
  font-size: 50px;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #333;
  animation: typing 2s steps(40, end), blink-caret 0.5s step-end infinite;
  z-index: 1;
  position: relative;
}

.home-column h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #0e2431;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px; 
  text-shadow: 1px 1px 1px #0e2431;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 18%;
  }
}

@keyframes blink-caret {
  from,
  to {
      border-color: transparent;
  }
  50% {
      border-color: #333;
  }
}

main  p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #0e2431;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 35px;
  text-shadow: 0.5px 0.5px 1px #0e2431;
}

main  p span{
  color: #F24822;
  text-shadow: 1px 1px 3px #db7862;
}

main a{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #bc8f8f;
  border: 8px solid #bc8f8f;
  box-shadow: 2px 2px 6px #bc8f8f;
  display: inline-block;
  padding: 9px 28px;
  border-radius: 36px;
  text-decoration: none;
  letter-spacing: 0.8px;
  font-size: 24px;
  text-shadow: 0.5px 0.5px 1px #e2dede;
}

main a:hover {
  box-shadow: 4px 4px 8px #622b2b;
  transition: 0.6s; 
}

.home-column img {
  width: 400px;
  height: 500px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.about {
  margin-top: 65px;
}

.about h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #0e2431;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 100px;
  text-shadow: 1px 1px 1px #0e2431;
}

.about-column {
  float: left;
  width: 46%;
  margin: 0px 1%;
  padding: 0px 1%;
  margin-top: 100px;
}

.about-column h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #0e2431;
  font-weight: 600;
  margin: 1px 0px;
  padding: 1px 0px;
  text-align: left;
  text-shadow: 0.5px 0.5px 1px #0e2431;
}

.about-column h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #F24822;
  text-shadow: 1px 1px 3px #db7862;
  margin: 1px 0px;
  padding: 1px 0px;
  text-align: left;
}

.about-column p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #0e2431;
  text-shadow: 0.5px 0.5px 1px #808080;
  letter-spacing: 0.75px;
  line-height: 20px;
  margin: 2px 0px;
  padding: 1px 0px;
  text-align: justify;
}


.about-icons{
  list-style: none;
  margin: 10px 0px;
  padding: 10px 0px;
}

.about-icons a {
  text-decoration: none;
  font-size: 50px;
  padding: 10px;
}

.about-icons .icon-dev {
  color: rgb(0, 0, 0);
}

.about-icons .icon-github {
  color: #24292e;
}

.about-icons .icon-linkedin {
  color:  #0072b1;
}

.about-icons .icon-facebook {
  color:  #3b5998;
}

.about-icons .icon-instagram {
  color: #dd2a7b;
}

.about-icons .icon-github:hover {
  font-size: 45px;
  transition: 0.6s; 
}

.about-icons .icon-linkedin:hover {
  font-size: 45px;
  transition: 0.6s; 
}

.about-icons .icon-facebook:hover {
  font-size: 45px;
  transition: 0.6s; 
}

.about-icons .icon-instagram:hover {
  font-size: 45px;
  transition: 0.6s; 
}

.about-icons .icon-dev:hover {
  font-size: 45px;
  transition: 0.6s; 
}

.icon-resume {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.8px;
  font-weight: bold;
  color: #ffffff;
  background-color: #bc8f8f;
  border: 8px solid #bc8f8f;
  box-shadow: 2px 2px 6px #bc8f8f;
  padding: 8px 26px;
  border-radius: 36px;
  text-decoration: none;
  font-size: 24px;
  text-shadow: 0.5px 0.5px 1px #e2dede;
}

.icon-resume:hover {
  box-shadow: 4px 4px 8px #622b2b;
  transition: 0.6s; 
}

.portfolio {
  margin-top: 65px;
}

.portfolio h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #0e2431;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 100px;
  text-shadow: 1px 1px 1px #0e2431;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: 700px; 
  height: 500px;
  margin: 0 auto;           
}

.grid-item {
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px #e2dede;
}

.item-content{
  position: relative;
}

.item-content img {
  max-height: 100%;
  max-width: 100%;
}

.item-content label{
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px;
}



.contact {
  margin-top: 65px;
}

.contact h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #0e2431;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 100px;
  text-shadow: 1px 1px 1px #0e2431;
}

.contact-form-header {
  text-align: left;
  margin: 0px 50px;
  padding: 0px 50px;
  margin-top: 35px;
  padding-top: 35px;
}

.contact-form-header h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #0e2431;
  font-weight: 600;
  line-height: 30px;
  margin: 20px 0px;
  text-shadow: 0.5px 0.5px 1px #0e2431;
}

.contact-form{
  margin: 0px 100px;
  padding: 35px 35px;
  border-radius: 40px;
  width: 50%;
  background-color: #FFDAA5;
  box-shadow: 8px 8px 8px #f5cc94;
}

.contact-form input, .contact-form textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 15px;
}
.contact-form input{
  margin: 10px 1%;
  width: 48%;
  text-shadow: 0.5px 0.5px 1px #a3a2a2;
}


.contact-form textarea {
  margin: 10px 1%;
  width: 98%;
  text-shadow: 0.5px 0.5px 1px #a3a2a2;
}

.contact button {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #bc8f8f;
  border: 8px solid #bc8f8f;
  box-shadow: 2px 2px 6px #bc8f8f;
  padding: 6px 24px;
  border-radius: 36px;
  letter-spacing: 0.8px;
  text-shadow: 0.5px 0.5px 1px #e2dede;
}
.contact button:hover {
  box-shadow: 2px 2px 6px #622b2b;
  transition: 0.6s; 
}

@media screen and (max-width:953px) {
  .about h1 {
    font-size: 20px;
    margin-top: 90px;
    margin-bottom: 30px;
    width: auto;
  }

  .about-column.slider {
    width: auto;
    height: auto;
    margin: auto;
  }
  .image-slide{
    width: 250px;
    height: 250px;
  }

  .about-column{
    width: auto;
    margin: 0px;
  }
  .about-column h2 {
    font-size: 30px;
  }

  .about-column h3 {
    font-size: 20px;
  }

  .icon-resume {
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: 5px 20px;
  }
}

@media screen and (max-width:912px) {
  .home-column {
    width: auto;
    margin-top: 100px;
  }

  .navbar .logo{
    margin: 6px 8px;
    padding: 10px 5px;
  }
  nav ul {
    margin: 10px 6px;
    padding: 10px 6px;
    text-align: right;
  }

  nav ul li a{
  padding: 0px 3px;
  margin: 0px 3px;
  }

  .about h1 {
    font-size: 30px;
    margin-top: 90px;
    margin-bottom: 30px;
    width: auto;
  }

  .about-column.slider {
    width: auto;
    height: auto;
    margin: auto;
  }
  .image-slide{
    width: 250px;
    height: 250px;
  }

  .about-column{
    width: auto;
    margin: 0px;
  }
  .about-column h2 {
    font-size: 30px;
  }

  .about-column h3 {
    font-size: 20px;
  }

  .icon-resume {
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: 5px 20px;
  }

  .contact h1 {
    font-size: 30px;
  }

  .contact-form-header h2 {
    font-size: 30px;
  }

  .contact-form{
    margin: 0px 50px;
    padding: 16px 16px;
    width: 80%;
  }
}

@media screen and (max-width:540px) {
  .home-column {
    width: auto;
    margin-top: 130px;
  }

  .navbar .logo{
    margin: 6px 5px;
    padding: 10px 1px;
  }
  nav ul {
    margin: 10px 1px;
    padding: 10px 1px;
    text-align: left;
  }

  nav ul li a{
  padding: 0px 3px;
  margin: 0px 3px;
  }

  .about h1 {
    font-size: 20px;
    margin-top: 90px;
    margin-bottom: 30px;
    width: auto;
  }

  .about-column.slider {
    width: auto;
    height: auto;
    margin: auto;
  }
  .image-slide{
    width: 250px;
    height: 250px;
  }

  .about-column{
    width: auto;
    margin: 0px;
  }
  .about-column h2 {
    font-size: 30px;
  }

  .about-column h3 {
    font-size: 20px;
  }

  .icon-resume {
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: 5px 20px;
  }

  .contact h1 {
    font-size: 30px;
  }

  .contact-form-header h2 {
    font-size: 30px;
  }

  .contact-form{
    margin: 0px 50px;
   padding: 16px 16px;
   width: 80%;
  }
}

@media screen and (max-width:421px) {
  .navbar .logo{
    margin: 6px 8px;
    padding: 10px 3px;
  }
  nav ul {
    margin: 10px 10px;
    padding: 10px 10px;
    text-align: left;
  }

  nav ul li a{
  padding: 0px 2.5px;
  margin: 0px 2.5px;;
  }

  .home-column {
    width: auto;
    margin-top: 150px;
  }

  .about h1 {
    font-size: 20px;
    margin-top: 90px;
    margin-bottom: 30px;
    width: auto;
  }

  .about-column.slider {
    width: auto;
    height: auto;
    margin: auto;
  }
  .image-slide{
    width: 250px;
    height: 250px;
  }

  .about-column{
    width: auto;
    margin: 0px;
  }
  .about-column h2 {
    font-size: 30px;
  }

  .about-column h3 {
    font-size: 20px;
  }

  .icon-resume {
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: 5px 20px;
  }


  .contact h1 {
    font-size: 20px;
    width: auto;
  }

  .contact-form-header{
    margin-top: 0px;
    padding: 0px;
  }

  .contact-form-header h2 {
    font-size: 17px;
    margin: 0px;
    width: auto;
  }

  .contact-form{
    margin: 0px 25px;
    padding: 8px 8px;
    width: 60%;
  }

  .contact-form input, .contact-form textarea {
    font-size: 15px;
  }

  .contact button {
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: 5px 20px;
  }
}

@media screen and (max-width:280px) {

  .navbar .logo{
    margin: 6px 10px;
    padding: 10px 5px;
  }
  nav ul {
    margin: 10px 10px;
    padding: 10px 10px;
    text-align: left;
  }

  nav ul li a{
  padding: 0px 1.5px;
  margin: 0px 1.5px;
  border-right: 0.5px solid grey;
  }

  .home-column {
    width: auto;
    margin-top: 150px;
  }

  .about h1 {
    font-size: 20px;
    margin-top: 90px;
    margin-bottom: 30px;
    width: auto;
  }

  .about-column.slider {
    width: 0px;
    height: 0px;
    margin: 0px;
    
  }
  .image-slide{
    width: 0px;
    height: 0px;
  }

  .about-column{
    margin: 0px;
  }
  .about-column h2 {
    font-size: 30px;
  }

  .about-column h3 {
    font-size: 20px;
  }

  .icon-resume {
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: 5px 20px;
  }

  .contact h1 {
    font-size: 20px;
    width: auto;
  }

  .contact-form-header{
    margin-top: 0px;
    padding: 0px;
  }

  .contact-form-header h2 {
    font-size: 17px;
    margin: 0px;
    width: auto;
  }

  .contact-form{
    margin: 0px 25px;
    padding: 8px 8px;
    width: 60%;
  }

  .contact-form input, .contact-form textarea {
    font-size: 15px;
  }

  .contact button {
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: 5px 20px;
  }
}